.containerCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.cardConteinerCart {
  background-color: #252525;
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  border: solid #fff200d3;
  border-radius: 10px;
}
.imgCart {
  border-radius: 10px;
}
.conteinerTextCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.botonQuitar {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  width: 60px;
  margin: 5px;
  padding: 5px;
  background-color: #000000;
  border: solid #464545;
  border-radius: 5px;
}
.botonQuitar:hover {
  background-color: #252525;
  border: solid #fff200d3;
}
.endPurchase {
  background-color: #000000;
  width: 200px;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  color: white;
  border: solid #464545;
  border-radius: 10px;
}
.endPurchase:hover {
  background-color: #464545;
  border: solid #fff200d3;
}
