.footer {
  background-image: linear-gradient(
    to bottom,
    #9800fbe1,
    #0080ffe1,
    #00aeffe1,
    #00cbfee1,
    #00e4d9e1,
    #3ee4ade1,
    #76e07de1,
    #abd849e1,
    #c8bb03e1,
    #e19600e1,
    #f36d00e1,
    #fb3131e1
  );
  width: 100%;
  height: 50px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
.footer h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  color: black;
}
.redes-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
