.menuHamburguesa {
  width: 100%;
  overflow: hidden;
  padding: 0px 10px 5px 10px;
  /* background-image: linear-gradient(
    to top,
    #2e2e2e,
    #2c2c2c,
    #2a2a2a,
    #292929,
    #272727,
    #242424,
    #202020,
    #242424,
    #272727,
    #292929,
    #2a2a2a,
    #2c2c2c,
    #2e2e2e
  ); */
  background-image: linear-gradient(
    to bottom,
    #2e2e2e,
    #292929,
    #232323,
    #1e1e1e,
    #191919,
    #1b1b1b,
    #1e1e1e,
    #202020,
    #2b2b2b,
    #363636
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.hamburguesaIcono {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  height: 40px;
  background: none;
  border: none;
}
.menuDesplegable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
.Links {
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  color: white;
}
.Links:hover {
  color: gray;
}
.flechaMenuHamburguesa {
  width: 20px;
  margin: 0px 0px 0px 1px;
  background-color: white;
  border-radius: 5px;
}
