.encabezado {
  background-image: linear-gradient(
    to bottom,
    #000000,
    #0a0a0a,
    #121212,
    #181818,
    #1d1d1d,
    #202020,
    #242424,
    #272727,
    #292929,
    #2a2a2a,
    #2c2c2c,
    #2e2e2e
  );
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.barra-superior {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
.logoNavBar {
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  color: white;
  font-size: 30px;
}
.encabezado input {
  width: 500px;
  height: 25px;
  font-family: "Bebas Neue", sans-serif;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.carrito span {
  color: rgb(0, 162, 255);
}
.carrito i {
  background-color: white;
  border-radius: 5px;
}
